body {
    padding-top: 70px;
}

img.portrait {
    width: 100px;
    height: 100px;
}

.posts .post {
    position: relative;
}

.posts .post a.action_delete_post {
    position: absolute;
    top: 10px;
    right: 10px;
}

.posts .post .image {
    text-align: center;
    height: 15em;
    overflow: hidden;
    border: 1px solid rgba(51, 51, 51, 0.2);
}

.posts .post .image img {
    width: 100%;
}

.unconfirmed_contacts .unconfirmed_contact img.portrait {
    width: 40px;
    height: 40px;
}

.group_invitations .group_invitation img.portrait {
    width: 40px;
    height: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#main-navigation .conversation-icon {
    font-size: 1.5em;
    position: relative;
}

#main-navigation .conversation-icon .badge {
    font-size: 0.5em;
    position: absolute;
    top: 8px;
    left: 25px;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    color: #a94442;
}