body {
    padding: 0;
    margin: 0;
    background-color: #e9eaed;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

#head_box {
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #3b5998;
}

#head_box_inner {
    width: 970px;
    padding-top: 5px;
    margin: auto;
    color: #ffffff;
}

#head_box_inner a,
#head_box_inner a:visited {
    color: #ffffff;
}

#head_box_inner .right_box {
    float: right;
}

#page_container {
    margin: 35px auto 0 auto;
    width: 970px;
}

#left_box {
    float: left;
    width: 180px;
}

#middle_box {
    float: left;
    width: 495px;
}

#right_box {
    float: right;
    width: 280px;
    margin: auto;
}

#create_post {
    background-color: #ffffff;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
}

#create_post #post_content {
    width: 100%;
    border: 0;
    font-size: 16px;
    height: 3em;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    resize: none;
}

.posts .post {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid darkgrey;
    border-radius: 5px;
    font-size: 14px;
}

.posts .post hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.posts .post .user {
    font-size: 14px;
}

.posts .post .user a,
.posts .post .user a:visited {
    color: #3b5998;
    font-weight: bold;
}

.posts .post .user .portrait {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.posts .post .user .created {
    display: block;
    font-size: 10px;
}

.posts .post .interaction {
    font-size: 12px;
}

.posts .post .interaction a,
.posts .post .interaction a:visited {
    text-decoration: none;
    color: darkblue;
}

.posts .post .interaction a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.unconfirmed_contacts .unconfirmed_contact .portrait {
    width: 40px;
    height: 40px;
    float: left;
}